@using Sienar.Infrastructure
@inherits DocPageBase
@attribute [Route(Urls.Introduction.GettingStarted)]
@attribute [Series(Constants.SeriesNames.Introduction)]
@attribute [Title("Getting started")]

<DocTitle>@Title</DocTitle>

<H1>@Title</H1>

<P>
	There aren't currently any templates available for Sienar. To get started developing a Sienar application, you need to create a new blank web application and include the Sienar NuGet packages manually.
</P>

<P>
	There are three main NuGet packages you will want to install, depending on what you want to use Sienar for:
</P>

<List>
	<li>
		If you want to develop a desktop application, install <Prism>Sienar.DesktopUtils</Prism>
	</li>
	<li>
		If you want to develop a web application while providing 100% of your own UI, install <Prism>Sienar.Blazor</Prism>
	</li>
	<li>
		If you want to develop a web application with an existing admin dashboard, install <Prism>Sienar.Cms</Prism>
	</li>
</List>

<H2>1. Create a blank web application</H2>

<P>
	Open a command prompt and navigate to the directory where you want to create your project, then run:
</P>

<Prism
	CodeFile="@Examples.Introduction.NewBlankProjectForSienar"
	Language="Languages.Bash"
	Block/>

<H2>2. Install required dependencies</H2>

<P>
	Now, you need to install the appropriate Sienar nuget package in your new project (see above)
</P>

<Prism 
	CodeFile="@Examples.Introduction.InstallSienar"
	Language="Languages.Bash"
	Block/>



<H2>3. Add a <Prism>DbContext</Prism></H2>

<P>
	Open the project in your favorite code editor, then add a new class called <Prism>AppDbContext</Prism>. Sienar has several entities that it requires in the database, so you can either add those entities manually or inherit from <Prism>SienarDbContext</Prism>, which has all the entities Sienar needs. If you want the best of both worlds, you can implement the <Prism>ISienarDbContext</Prism> interface, which guarantees you have the entities Sienar needs while giving you complete control over the context class. Create the following implementation:
</P>

<Prism
	CodeFile="@Examples.Introduction.AddDbContext"
	Language="Languages.Csharp"
	Block/>

<P>
	Now, you need to get the database set up:
</P>

<Prism
	CodeFile="@Examples.Introduction.UpdateDatabase"
	Language="Languages.Bash"
	Block/>

<H2>4. Update <Prism>Program.cs</Prism></H2>

<P>
	Open <Prism>&lt;project-name&gt;/Program.cs</Prism> in your favorite code editor and completely delete its contents, then add the following:
</P>

<Prism
	CodeFile="@Examples.Introduction.MinimalCms"
	Language="Languages.Csharp"
	Block/>

<H2>Test the application</H2>

<P>
	Now you can run the application. Once running, visit the app at <Prism>http://localhost:&lt;port&gt;/dashboard</Prism>. You should be redirected to the login page. If this happens, the application is running correctly! (If you try to visit the app root at <Prism>http://localhost:&lt;port&gt;</Prism>, you'll get an exception because of the way Sienar registers assemblies that contain routable Blazor components.)
</P>