@* ReSharper disable once CheckNamespace *@
@namespace Sienar.Ui
@inherits SienarComponentBase

<HtmlElement
	Tag="@_tag"
	@attributes="UserAttributes"
	class="@CreateCssClasses()"
	@onclick="@HandleClicked">
	@if (!string.IsNullOrEmpty(Icon))
	{
		<Icon
			Size="Size ?? Ui.Size.Normal"
			Name="@Icon"/>
	}

	@if (!string.IsNullOrEmpty(Text))
	{
		<span>@Text</span>
	}

	@if (ChildContent is not null)
	{
		@ChildContent
	}
</HtmlElement>