@* ReSharper disable once CheckNamespace *@
@namespace Sienar.Ui
@inherits SienarComponentBase
@typeparam TItem

<Card>
	<CardHeader
		Icon="IconContent">
		<Title>
			@TitleContent

			@if (!HideSearch)
			{
				<div class="is-flex-grow-1 is-flex is-justify-content-flex-end">
					<div>
						<div class="field has-addons">
							<div class="control has-icons-left">
								<input
									@bind="@SearchTerm"
									@bind:event="oninput"
									@bind:after="@RefreshTable"
									class="input"/>
								<Icon Name="search" class="is-left"/>
							</div>
							<div class="control">
								<Button
									Color="@null"
									Icon="times"
									@onclick="@ResetSearch"
									disabled="@(string.IsNullOrEmpty(SearchTerm))"/>
							</div>
						</div>
					</div>
				</div>
			}
		</Title>
	</CardHeader>

	<CardContent>
		<CascadingValue Value="@this">
			<table
				@attributes="UserAttributes"
				class="@CreateCssClasses()">
				<thead>
				@HeaderContent
				</thead>

				<tbody>
				@if (_loading)
				{
					<tr>
						<td class="p-6" colspan="9999">
							<ProgressBar/>
						</td>
					</tr>
				}
				else if (!_items.Any())
				{
					<tr>
						<td class="p-6" colspan="9999">
							@if (NoRecordsContent is not null)
							{
								@NoRecordsContent
							}
							else
							{
								<p class="has-text-centered">There is no data to display</p>
							}
						</td>
					</tr>
				}
				else
				{
					@foreach (var item in _items)
					{
						@RowTemplate(item)
					}
				}
				</tbody>
			</table>
		</CascadingValue>
	</CardContent>
</Card>