<div class="accordion-item">
	<p
		class="accordion-header"
		id="{{ idify displayName }}-label">
		<button
			class="accordion-button"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#{{ idify displayName }}"
			aria-expanded="true"
			aria-controls="collapseOne">
			{{ displayName }}
		</button>
	</p>
	<div
		id="{{ idify displayName }}"
		class="accordion-collapse collapse show"
		aria-labelledby="{{ idify displayName }}-label">
		<div class="accordion-body">
			{{# each collection }}
				<a
					href="{{ this.url }}"
					class="d-block">
					{{ this.data.pageTitle }}
				</a>
			{{/each}}
		</div>
	</div>
</div>
