@using Sienar.Infrastructure.Plugins
@using System.Reflection
@using Sienar.Infrastructure.Menus

<AuthStateRefresher/>

<CascadingAuthenticationState>
	<Router
		AppAssembly="@_rootAssembly"
		AdditionalAssemblies="@AssemblyProvider.GetAssemblies()">
		<Found Context="routeData">
			<AuthorizeRouteView
				RouteData="@routeData"
				DefaultLayout="@typeof(SienarLayout)">
				<Authorizing>
					Verifying your login status...
				</Authorizing>
				<NotAuthorized>
					<UnauthorizedRedirect/>
				</NotAuthorized>
			</AuthorizeRouteView>
		</Found>
		<NotFound>
			<PageTitle>Not found</PageTitle>
			<LayoutView Layout="@typeof(SienarLayout)">
				<p role="alert">Sorry, there's nothing at this address.</p>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>

@code {

	[Parameter]
	public string[] PluginNames { get; set; } = Array.Empty<string>();

	[Inject]
	private IPluginProvider PluginProvider { get; set; } = default!;

	[Inject]
	private IRoutableAssemblyProvider AssemblyProvider { get; set; } = default!;

	[Inject]
	private IMenuProvider MenuProvider { get; set; } = default!;

	[Inject]
	private IComponentProvider ComponentProvider { get; set; } = default!;

	[Inject]
	private IEnumerable<ISienarPlugin> SienarPlugins { get; set; } = default!;

	private Assembly? _rootAssembly;

	/// <inheritdoc />
	protected override void OnInitialized()
	{
		if (PluginProvider.GetPlugins().Count == 0)
		{
			foreach (var pluginName in PluginNames)
			{
				SetupPlugin(pluginName);
			}
		}

		var routableAssemblies = AssemblyProvider.GetAssemblies();
		_rootAssembly = routableAssemblies[0];
		routableAssemblies.RemoveAt(0);
	}

	private void SetupPlugin(string name)
	{
		var plugin = SienarPlugins.First(p => p.PluginData.Name == name);
		PluginProvider.Add(plugin);

		if (plugin.PluginSettings.HasRoutableComponents)
		{
			AssemblyProvider.Add(plugin.GetType().Assembly);
		}

		if (plugin.PluginSettings.UsesProviders)
		{
			plugin.SetupMenu(MenuProvider);
			plugin.SetupComponents(ComponentProvider);
		}
	}

}