@namespace Sienar.Ui
@typeparam TFormModel
@inherits BaseForm<TFormModel>

<EditForm
	Model="Model"
	OnValidSubmit="@HandleSubmit"
	FormName="@FormName">
	<DataAnnotationsValidator/>

	<Card>
		<CardHeader
			Color="Color"
			TitleTag="@TitleTag"
			Icon="Icon">
			<Title>@Title</Title>
		</CardHeader>

		@if (Information is not null)
		{
			<CardContent>@Information</CardContent>
		}

		<CardContent>@Fields</CardContent>

		<CardActions>
			@if (!HideSubmit)
			{
				<Button
					Color="Color"
					Loading="(Loading || IsLoading)">
					@SubmitText
				</Button>
			}

			@if (ShowReset)
			{
				<Button
					Color="Color.Secondary"
					@onclick="@OnReset"
					type="reset"
					Outlined>
					@ResetText
				</Button>
			}
			@MoreActions
		</CardActions>
	</Card>
</EditForm>