@page "/"
@using Microsoft.AspNetCore.Components.Web
@using Sienar
@using Sienar.Infrastructure.Plugins
@namespace Project.App.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject IStyleProvider StyleProvider
@inject IScriptProvider ScriptProvider

<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/"/>
	<meta charset="utf-8"/>
	<meta name="viewport"
	      content="width=device-width, initial-scale=1.0"/>
	<link rel="icon"
	      type="image/png"
	      href="~/favicon.png"/>

	@foreach (var stylesheet in StyleProvider.GetStylesheets())
	{
		<link
			href="@stylesheet.Url"
			crossorigin="@stylesheet.Mode.GetHtmlValue()"
			referrerpolicy="@stylesheet.Referrer.GetHtmlValue()"
			integrity="@stylesheet.Integrity"
			rel="stylesheet"/>
	}

	<component type="typeof(HeadOutlet)"
	           render-mode="ServerPrerendered"/>
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

@foreach (var script in ScriptProvider.GetScripts())
{
	<script
		type="@script.GetScriptType()"
		src="@script.Url"
		crossorigin="@script.Mode.GetHtmlValue()"
		referrerpolicy="@script.Referrer.GetHtmlValue()"
		integrity="@script.Integrity"
		async="@script.IsAsync"
		defer="@script.ShouldDefer"></script>
}
</body>
</html>
