@inherits DocPageBase
@attribute [Route(Urls.Api.ISienarServerPlugin)]
@attribute [Series(Constants.SeriesNames.Api)]
@attribute [Title(nameof(ISienarServerPlugin))]

<DocTitle>@Title</DocTitle>

<H1>@Title</H1>

<P>
	A Sienar app is usually made up of several plugins. Each plugin in a Sienar Blazor Server app needs to implement <Prism>@nameof(ISienarServerPlugin)</Prism>. Most of the methods of <Prism>@nameof(ISienarServerPlugin)</Prism> are used to ease the process of modifying services that Sienar uses in its core functionality.
</P>

<H2>Instance methods</H2>

<MethodData
	Title="PluginShouldExecute"
	CodeFile="@Examples.Api.ISienarServerPlugin.PluginShouldExecute">
	<P>
		This method is used by Sienar middleware to determine if the plugin should execute on each request. (Because Blazor Server treats each "request" as an entire user session, this method will only run on each full page load.) It accepts an <Prism>HttpContext</Prism> as its only argument, so you can use that context to decide whether the application should execute. For example, <Prism>SienarBlazorPlugin</Prism> does work that is needed on every request to a Sienar application, so its implementation simply returns <Prism>true</Prism>, while <Prism>SienarCmsPlugin</Prism> should only execute if the user is trying to access the dashboard, so it returns <Prism>context.Request.Path.StartsWithSegments("/dashboard")</Prism> to only perform plugin actions on dashboard pages.
	</P>
</MethodData>

<MethodData
	Title="SetupApp"
	CodeFile="@Examples.Api.ISienarServerPlugin.SetupApp">
	<P>
		This method is used by plugins to configure the middleware pipeline. Most plugins probably won't have to do anything here, so a stub implementation should do fine. If your plugin defines a URL slug there a whole new application should be served, you should call <Prism>IEndpointRouteBuilder.MapFallbackToPage()</Prism> here. For example, <Prism>SienarCmsPlugin</Prism> only serves its pages from <Prism>/dashboard</Prism>, so it calls <Prism>app.MapFallbackToPage("/dashboard/{**segment}", "/_Host")</Prism>. You can either set up your own fallback page in your app, or if you want to rely on the Sienar system, you can fall back to <Prism>/_Host</Prism>, which comes with Sienar and includes all the regular Sienar page-level functionality right out of the box.
	</P>
</MethodData>

<MethodData
	Title="SetupDependencies"
	CodeFile="@Examples.Api.ISienarServerPlugin.SetupDependencies">
	<P>
		This method is used by plugins to do any initial setup, such as adding services to the DI container. This method accepts the ASP.NET <Prism>WebApplicationBuilder</Prism> as its only argument, so if you can do it in plain ASP.NET, you can do it here. Don't build the builder though! Sienar handles the build process, so just add your plugin's configuration here and let Sienar do the rest.
	</P>
</MethodData>