@inherits DocPageBase
@attribute [Route(Urls.Api.SienarServerAppBuilder)]
@attribute [Series(Constants.SeriesNames.Api)]
@attribute [Title("SienarServerAppBuilder")]

<DocTitle>@Title</DocTitle>

<H1>@Title</H1>

<P>
	A Sienar app begins with <Prism>SienarServerAppBuilder</Prism> in <Prism>Program.cs</Prism>.
</P>

<H2>Static methods</H2>

<MethodData
	Title="Create"
	CodeFile="@Examples.Api.SienarServerAppBuilder.Create">
	<P>
		This static method creates a new <Prism>SienarServerAppBuilder</Prism>. Internally, it creates a new instance of <ExternalLink Href="https://learn.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.webapplication?view=aspnetcore-8.0">WebApplication</ExternalLink>. It then adds several core Sienar utilities that are necessary for pretty much every type of Sienar app. The <Prism>WebApplication</Prism> is then stored on the <Prism>SienarServerAppBuilder</Prism>, which is returned.
	</P>
</MethodData>

<MethodData
	Title="Create"
	CodeFile="@Examples.Api.SienarServerAppBuilder.CreateWithDbContext"
	HideDivider>
	<P>
		This method creates a <Prism>SienarServerAppBuilder</Prism> using the same rules as the first constructor. Additionally, it adds a <Prism>TContext</Prism> to the application services. This <Prism>TContext</Prism> is registered both as its own type <em>and</em> as <Prism>DbContext</Prism>, which is a type that is requested directly by Sienar's implementation types. The last three arguments to this method mirror the arguments to <Prism>IServiceCollection.AddDbContext(...)</Prism> because internally, this is how Sienar adds your <Prism>DbContext</Prism> to the service collection. 
	</P>
</MethodData>

<H2>Instance methods</H2>

<MethodData
	Title="Build"
	CodeFile="@Examples.Api.SienarServerAppBuilder.Build"
	HideDivider>
	<P>
		This method is the last method you can call with a <Prism>SienarServerAppBuilder</Prism>. It adds any remaining services that are needed to the service collection (for example, it creates the <Prism>ThemeState</Prism>, which can't be created initially because the developer can use their own <Prism>MudTheme</Prism>), then builds the application, configures plugins and middleware, and returns the <Prism>WebApplication</Prism> for further consumption by the developer.
	</P>
</MethodData>

<H2>Extension methods</H2>

<MethodData
	Title="AddPlugin"
	CodeFile="@Examples.Api.SienarServerAppBuilder.AddPlugin">
	<P>
		This method is used to add plugins to the Sienar app. It adds the plugin to the service collection as a scoped service as a <Prism>ISienarPlugin</Prism>. It also registers any services or middleware if <Prism>ISienarPlugin.StartupPlugin</Prism> returns a <Prism>Type</Prism> that implements <Prism>ISienarServerStartupPlugin</Prism>.
	</P>
</MethodData>

<MethodData
	Title="AddStartupPlugin"
	CodeFile="@Examples.Api.SienarServerAppBuilder.AddStartupPlugin">
	<P>
		This overload accepts an instance of <Prism>ISienarServerStartupPlugin</Prism> and adds its services and middlewares to the Sienar app. If <Prism>ISienarServerStartupPlugin.PluginData</Prism> is not <Prism>null</Prism>, it is added to the plugin data provider.
	</P>
</MethodData>

<MethodData
	Title="AddStartupPlugin"
	CodeFile="@Examples.Api.SienarServerAppBuilder.AddStartupPluginGeneric">
	<P>
		This overload accepts a type parameter indicating the type of the <Prism>ISienarServerStartupPlugin</Prism> and calls the non-generic overload of this method with a new instance of the type indicated. In order to use this overload, your <Prism>ISienarServerStartupPlugin</Prism> must provide a default constructor.
	</P>
</MethodData>

<MethodData
	Title="AddServices"
	CodeFile="@Examples.Api.SienarServerAppBuilder.AddServices">
	<P>
		This method is used to add services to the Sienar app without creating a full plugin. Its only argument is an <Prism>Action&lt;IServiceCollection&gt;</Prism>, which can be used to add arbitrary services.
	</P>
</MethodData>

<MethodData
	Title="ConfigureTheme"
	CodeFile="@Examples.Api.SienarServerAppBuilder.ConfigureTheme">
	<P>
		This overload is used to tell Sienar to use a specific instance of a custom <Prism>MudTheme</Prism>. Sienar uses a <Prism>ThemeState</Prism> state provider, and the theme provided here is used to construct the <Prism>ThemeState</Prism>. If no custom theme is configured, Sienar uses a new blank <Prism>MudTheme</Prism> with no special configuration.
	</P>
</MethodData>

<MethodData
	Title="ConfigureTheme"
	CodeFile="@Examples.Api.SienarServerAppBuilder.ConfigureThemeGeneric"
	HideDivider>
	<P>
		This overload accepts a type parameter indicating the type of the theme to register. It creates a new instance of the theme and calls the first overload of this method with the theme instance. In order to use this overload, your <Prism>MudTheme</Prism> class must provide a default constructor. 
	</P>
</MethodData>